@font-face {
  font-family: "Mueseo";
  src: url("../fonts/MuseoSans-300.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mueseo";
  src: url("../fonts/MuseoSans_500.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mueseo";
  src: url("../fonts/MuseoSans_700.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
